/* line 5, ../sass/_reset.sass */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  margin: 0;
  padding: 0;
  color: #222233;
  font-size: 62.5%;
  font-family: sans-serif;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 17, ../sass/_reset.sass */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, menu, main {
  display: block;
}

/* line 20, ../sass/_reset.sass */
body {
  line-height: 1;
  background: #f4f7f8;
  font-size: 30px;
  font-size: 3rem;
}

/* line 25, ../sass/_reset.sass */
h1 {
  font-size: 60px;
  font-size: 6rem;
  margin-bottom: 0.67em;
}

/* line 29, ../sass/_reset.sass */
h2 {
  font-size: 50px;
  font-size: 5rem;
  margin-bottom: 0.83em;
}

/* line 33, ../sass/_reset.sass */
h3 {
  font-size: 40px;
  font-size: 4rem;
  margin-bottom: 1em;
}

/* line 37, ../sass/_reset.sass */
h4 {
  font-size: 30px;
  font-size: 3rem;
  margin-bottom: 1.33em;
}

/* line 41, ../sass/_reset.sass */
h5 {
  font-size: 20px;
  font-size: 2rem;
  margin-bottom: 1.67em;
}

/* line 45, ../sass/_reset.sass */
h6 {
  font-size: 10px;
  font-size: 1rem;
  margin-bottom: 2.33em;
}

/* line 49, ../sass/_reset.sass */
small {
  font-size: 10px;
  font-size: 1rem;
}

/* line 52, ../sass/_reset.sass */
p {
  margin-bottom: 1em;
}

/* line 56, ../sass/_reset.sass */
a:focus {
  outline: thin dotted;
}
/* line 58, ../sass/_reset.sass */
a:active, a:hover {
  outline: 0;
}

/* line 61, ../sass/_reset.sass */
b, strong {
  font-weight: bold;
}

/* line 64, ../sass/_reset.sass */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* line 72, ../sass/_reset.sass */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* line 76, ../sass/_reset.sass */
ol, ul {
  list-style: none;
}

/* line 79, ../sass/_reset.sass */
blockquote {
  margin: 1em 40px;
}

/* line 82, ../sass/_reset.sass */
blockquote, q {
  quotes: none;
}

/* line 85, ../sass/_reset.sass */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

/* line 89, ../sass/_reset.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 93, ../sass/_reset.sass */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 99, ../sass/_reset.sass */
button, input {
  line-height: normal;
}

/* line 102, ../sass/_reset.sass */
button, select {
  text-transform: none;
}

/* line 105, ../sass/_reset.sass */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

/* line 110, ../sass/_reset.sass */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

/* line 116, ../sass/_reset.sass */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 122, ../sass/_reset.sass */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 125, ../sass/_reset.sass */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 129, ../sass/_reset.sass */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 6, ../sass/_helper.sass */
.chromeframe {
  margin: 0.2em 0;
  background: #cccccc;
  color: black;
  padding: 0.2em 0;
}

/* line 15, ../sass/_helper.sass */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

/* line 21, ../sass/_helper.sass */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/* line 30, ../sass/_helper.sass */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 37, ../sass/_helper.sass */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 47, ../sass/_helper.sass */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 58, ../sass/_helper.sass */
.invisible {
  visibility: hidden;
}

/* line 64, ../sass/_helper.sass */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

/* line 68, ../sass/_helper.sass */
.clearfix:after {
  clear: both;
}

/* line 71, ../sass/_helper.sass */
.clearfix {
  *zoom: 1;
}

@media print {
  /* line 10, ../sass/_print.sass */
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 16, ../sass/_print.sass */
  a, a:visited {
    text-decoration: underline;
  }

  /* line 19, ../sass/_print.sass */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 22, ../sass/_print.sass */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 26, ../sass/_print.sass */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* line 29, ../sass/_print.sass */
  pre, blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid;
  }

  /* line 33, ../sass/_print.sass */
  thead {
    display: table-header-group;
  }

  /* line 36, ../sass/_print.sass */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 39, ../sass/_print.sass */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 45, ../sass/_print.sass */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 49, ../sass/_print.sass */
  h2, h3 {
    page-break-after: avoid;
  }
}
/* line 3, ../sass/_shame.sass */
div.mobile-header {
  display: normal;
}
/* line 5, ../sass/_shame.sass */
div.mobile-header select {
  width: 100%;
  border: 2px solid blue;
  background-color: #efdddd;
}

/* line 10, ../sass/_shame.sass */
header.comp-header {
  display: none;
  font-size: 320%;
  background-color: #efdddd;
}
/* line 14, ../sass/_shame.sass */
header.comp-header ul {
  width: 800px;
  margin: 0 auto;
  text-align: center;
}
/* line 18, ../sass/_shame.sass */
header.comp-header li {
  display: inline-block;
  text-align: center;
}

@media only screen and (min-width: 35em) {
  /* line 25, ../sass/_shame.sass */
  div.mobile-header {
    display: none;
  }

  /* line 28, ../sass/_shame.sass */
  header.comp-header {
    display: block;
  }
}
