// import google fonts here
@import "vars";

// ======================================================================
//      CHROMEFRAME (if needed/wanted)
// ======================================================================

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// ======================================================================
//      BASE
// ======================================================================

html,
button,
input,
select,
textarea {
  color: #223;
}

body {
  font-family: helvetica;
  font-size: 1em;
  line-height: 1.4;
}

::selection {
  background-color: $darkBlue;
  color: white;
  text-shadow: none;
}

::-moz-selection {
  background-color: $darkBlue;
  color: white;
  text-shadow: none;
}

hr {
  display: block;
  border: none;
  background-color: $lightBlue;
  height: 3px;
  margin: 10px 0;
  padding: 0;
}

img {
    vertical-align: middle;
}

ol, ul {
  list-style: none;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

// ======================================================================
//      LAYOUT
// ======================================================================

//      HEADER
// ----------------------------------------------------------------------

//      MAIN BODY
// ----------------------------------------------------------------------

//      FOOTER
// ----------------------------------------------------------------------

// ======================================================================
//      PAGE SPECIFIC
// ======================================================================

//      HOME
// ----------------------------------------------------------------------

// ======================================================================
//      HELPER CLASSES
// ======================================================================

.cf { // clearfix
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.btn {
  padding: 7px 13px;
  color: darken($darkBlue, 10);
  background-color: lighten($lightBlue, 10);
  border: 1px solid $darkBlue;
  border-radius: 3px;
  text-decoration: none;
  box-shadow: 0 2px 1px 0 #777777;
  &:hover, &:focus {
    background-color: $darkBlue;
    color: lighten($lightBlue, 30);
  }
  &:active, &:focus {
    box-shadow: none;
    margin-top: 2px;
    margin-bottom: -2px;
  }
}

// ======================================================================
//      MEDIA QUERIES (responsive for mobile first design)
// ======================================================================

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

// ======================================================================
//      PRINT STYLES
// ======================================================================

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

// ======================================================================
//      SHAAAAAAME (http://csswizardry.com/2013/04/shame-css/)
// ======================================================================

@import "shame";
